{% extends 'app_quotes/base.html' %}

{% block content %}
<h1 class="text-center text-slate-800 text-xl font-medium">New quote</h2>
            <form action="/addquote/" method="post" class="w-1/2 mx-auto"> {% csrf_token %}
                <div class="flex flex-col gap-4 p-2">
                    <label for="fullname" class="text-slate-800">Author`s fullname</label>
                    <select name="fullname" id="fullname" class="p-2 border-2 border-sky-100">
                        <option selected></option>
                        {% for value, author in authors %}
                        <option value="{{ value }}">{{ author.fullname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex flex-col gap-4 p-2">
                    <label for="quote" class="text-slate-800">Quote text</label>
                    <textarea name="quote" id="quote" rows="8" class="p-2 border-2 border-sky-100"></textarea>
                </div>
                 <div class="flex flex-col gap-4 p-2">
                    <label for="tags" class="text-slate-800">Tags (space separated)</label>
                    <input type="text" name="tags" id="tags" class="p-2 border-2 border-sky-100">
                </div>
                <button type="submit" class="w-1/4 m-2 bg-sky-100 hover:bg-sky-200 text-slate-800 p-2 rounded-md">Add quote</button>
                {% if msg %}
                    <div class="text-center">
                        <p class="bg-red-600 p-4 rounded-lg">{{ msg }}</p>
                        </div>
                {% endif %}
            </form>
{% endblock %}