{% extends 'app_quotes/base.html' %}

{% block content %}
    {% if author %}
    <div class="container w-5/6 mx-auto mb-5 border-2 border-zinc-200 rounded-md p-4 shadow-md bg-[#faeed770]">
        <p class="text-lg font-medium pb-3 text-gray-700">{{ author.fullname }}</p>
        <p class="font-medium">born <span class="font-normal">{{ author.born_date }}, {{ author.born_location }}</span></p>
        <p class="pt-2 font-medium">About: <span class="font-normal"> {{ author.description }}</span></p>
    </div>
    {% else %}
        <p class="text-center text-lg font-medium pb-3 text-gray-700">There is no such author</p>
    {% endif %}
{% endblock %}