{% extends 'app_quotes/base.html' %}

{% block content %}
    {% for author, brief, link_name in authors %}
    <div class="container w-5/6 mx-auto mb-5 border-2 border-zinc-200 rounded-md p-4 shadow-md bg-[#faeed770]">
        <p class="text-lg font-medium pb-3 text-gray-700">{{ author.fullname }}</p>
        <p class="font-medium">born <span class="font-normal">{{ author.born_date }}, {{ author.born_location }}</span></p>
        <p class="pt-2 font-medium">About: <span class="font-normal"> {{ brief }}</span>
            <a class="text-indigo-600 transition ease-in-out delay-100 hover:text-indigo-800 duration-150"
               href="{% url 'app_quotes:author' name=link_name %}">(read more)</a>
        </p>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <div class="fab bg-blue-400 rounded-full transition ease-in-out delay-100 hover:scale-110 hover:bg-blue-700 duration-150"
         style="position: fixed; bottom: 10%; right: 5%; padding: 1.5rem; font-size: 2rem; line-height: 1.5rem;">
        <a class="text-zinc-200" href="{% url 'app_quotes:addauthor' %}">+</a>
    </div>
    {% endif %}
{% endblock %}