<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoIT Python Web 1.1 - homework # 10 (django framework)</title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_quotes/normalize.css' %}">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'app_quotes/styles.css' %}">
</head>

<body  class="bg-sky-100">
    <p class="text-xl text-center font-semibold p-4 text-slate-800">GoIT Python Web 1.1 - homework # 10
        (django framework)</p>
    <div class="container m-auto bg-white">
        <header class="mx-auto p-4 h-20 border-b-2 border-[#6d9bf5] content-center flex flex-row">
            <nav class="w-1/2 flex items-center">
                <ul class="flex gap-4">
                    <li
                        class="text-slate-800 transition ease-in-out delay-100 hover:scale-125 hover:text-indigo-700 duration-150">
                        <a href="{% url 'app_quotes:home' %}">Home</a>
                    </li>
                    <li
                        class="text-slate-800 transition ease-in-out delay-100 hover:scale-125 hover:text-indigo-700 duration-150">
                        <a href="{% url 'app_quotes:authors' %}">Authors</a>
                    </li>
                    <li
                        class="text-slate-800 transition ease-in-out delay-100 hover:scale-125 hover:text-indigo-700 duration-150">
                        <a href="{% url 'app_quotes:tags' %}">Tags</a>
                    </li>
                </ul>
            </nav>
            <div class="w-1/2 flex items-center">
                <ul class="flex flex-row-reverse w-full gap-4">
                    {% if user.is_authenticated %}
                    <li
                        class="text-slate-900 order-2">
                        <span>Wellcome {{ user }}!</span>
                    </li>
                    <li
                        class="text-slate-800 transition ease-in-out delay-100 hover:scale-125 hover:text-indigo-700 duration-150 order-1">
                        <a href="{% url 'app_quotes:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li
                        class="text-slate-800 transition ease-in-out delay-100 hover:scale-125 hover:text-indigo-700 duration-150 order-2">
                        <a href="{% url 'app_quotes:login' %}">Login</a>
                    </li>
                    <li
                        class="text-slate-800 transition ease-in-out delay-100 hover:scale-125 hover:text-indigo-700 duration-150 order-1">
                        <a href="{% url 'app_quotes:register' %}">Sign up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <main class="my-1 py-4">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="h-40 bg-[#2e2f42] p-10">
            <p class="text-left text-zinc-100 p-1">Dmytro Tarasenko</p>
            <p class="text-left text-zinc-100 p-1">GoIT Python Web 1.1, 2024</p>
        </footer>
    </div>
</body>

</html>