{% extends 'app_quotes/base.html' %}

{% block content %}
<h1 class="text-center text-slate-800">Login</h1>
    {% if msg%}
    <div class="text-center w-1/2 mx-auto">
            <p class="bg-green-600 p-4 rounded-lg">{{ msg }}</p>
    </div>
    {% endif %}
    {% if err %}
    <div class="text-center w-1/2 mx-auto">
            <p class="bg-red-600 p-4 rounded-lg">{{ err }}</p>
    </div>
    {% endif %}
    <form action="/login/" method="post" class="self-center w-1/2 mx-auto"> {% csrf_token %}
        <div class="flex flex-col gap-4 p-2">
            <label for="username" class="text-slate-800">Username</label>
            <input type="text" name="username" id="username" class="p-2 border-2 border-sky-100">
        </div>
        <div class="flex flex-col gap-4 p-2">
            <label for="password" class="text-slate-800">Password</label>
            <input type="password" name="password" id="password" class="p-2 border-2 border-sky-100">
        </div>
        <input name="next" type="hidden" value="{{ next_url }}">
        <button type="submit" class="w-1/4 m-2 bg-sky-100 hover:bg-sky-200 text-slate-800 p-2 rounded-md">Login</button>
        <div class="small text-center">
            <a href="{% url 'app_quotes:password_reset' %}" class="text-center"><i>Forgot Password?</i></a>
    </div>
    </form>
{% endblock %}