{% extends 'app_quotes/base.html' %}

{% block content %}
<h2 class="text-center text-slate-800">Password reset</h2>
    {% if msg%}
    <div class="text-center w-1/2 mx-auto">
            <p class="bg-green-600 p-4 rounded-lg">{{ msg }}</p>
    </div>
    {% endif %}
    {% if err %}
    <div class="text-center w-1/2 mx-auto">
            <p class="bg-red-600 p-4 rounded-lg">{{ err }}</p>
    </div>
    {% endif %}
    <form action="/reset-password/" method="post" class="self-center w-1/2 mx-auto"> {% csrf_token %}
        <div class="flex flex-col gap-4 p-2">
            <label for="email" class="text-slate-800">Email</label>
            <input type="text" name="email" id="email" class="p-2 border-2 border-sky-100">
        </div>
        <button type="submit" class="w-1/3 m-2 bg-sky-100 hover:bg-sky-200 text-slate-800 p-2 rounded-md">
            Request password reset
        </button>
    </form>
{% endblock %}